.Windows__Icon {
  background-image: url("/public/windows-icon.ico");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 80px;
  height: 125px;
  width: 80px;
  position: absolute;
  bottom: 100px;
  left: 25px;
  border: solid 1px transparent;
  border-radius: 2px;
}

.Windows__Icon:after {
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  content: attr(data-label);
  text-shadow: 0 2px 2px #000;
  color: white;
  font-size: 16px;
}

.Windows__Icon:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.3);
}
