.Database {
  margin-bottom: 200px;
  left: 200px;
  top: 200px;
  overflow: "auto";
  .window-body {
    height: 250px !important;
    overflow: "auto";
  }
}

.database__listbox {
  height: 250px;
}
