html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: url('/public/windows-bg.jpg');
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.HomePage {
  width: 100%;
  height: 100%;
}

.Layout {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.Database__Button {
  position: absolute;
  bottom: 200px;
}